<div class="d-flex flex-wrap mb-4">
    <h1 class="flex-grow-1" i18n="@@contactoProveedor.add.headline">Add Contacto Proveedor</h1>
    <div>
        <a routerLink="/contactoProveedors" class="btn btn-secondary" i18n="@@contactoProveedor.add.back">Back to list</a>
    </div>
</div>
<form [formGroup]="addForm" (ngSubmit)="handleSubmit()">
    <app-input-row [group]="addForm" field="cveNombre" i18n-label="@@contactoProveedor.cveNombre.label" label="Cve Nombre" />
    <app-input-row [group]="addForm" field="cpeTelefono" i18n-label="@@contactoProveedor.cpeTelefono.label" label="Cpe Telefono" />
    <app-input-row [group]="addForm" field="cpeEmail" i18n-label="@@contactoProveedor.cpeEmail.label" label="Cpe Email" />
    <app-input-row [group]="addForm" field="cpeUrl" i18n-label="@@contactoProveedor.cpeUrl.label" label="Cpe Url" />
    <app-input-row [group]="addForm" field="cpePve" rowType="select" [options]="cpePveValues" i18n-label="@@contactoProveedor.cpePve.label" label="Cpe Pve" />
    <input type="submit" i18n-value="@@contactoProveedor.add.headline" value="Add Contacto Proveedor" class="btn btn-primary mt-4" />
</form>
