<div class="d-flex flex-wrap mb-4">
    <h1 class="flex-grow-1" i18n="@@producto.add.headline">Add Producto</h1>
    <div>
        <a routerLink="/productos" class="btn btn-secondary" i18n="@@producto.add.back">Back to list</a>
    </div>
</div>
<form [formGroup]="addForm" (ngSubmit)="handleSubmit()">
    <app-input-row [group]="addForm" field="proNumeroParte" i18n-label="@@producto.proNumeroParte.label" label="Pro Numero Parte" />
    <app-input-row [group]="addForm" field="proNombre" i18n-label="@@producto.proNombre.label" label="Pro Nombre" />
    <app-input-row [group]="addForm" field="proNumeroParteAlterno" i18n-label="@@producto.proNumeroParteAlterno.label" label="Pro Numero Parte Alterno" />
    <app-input-row [group]="addForm" field="proNumeroSerie" i18n-label="@@producto.proNumeroSerie.label" label="Pro Numero Serie" />
    <app-input-row [group]="addForm" field="proUnidades" rowType="number" i18n-label="@@producto.proUnidades.label" label="Pro Unidades" />
    <app-input-row [group]="addForm" field="proFechaVencimiento" datepicker="datepicker" i18n-label="@@producto.proFechaVencimiento.label" label="Pro Fecha Vencimiento" />
    <app-input-row [group]="addForm" field="proTipoDocumento" rowType="number" i18n-label="@@producto.proTipoDocumento.label" label="Pro Tipo Documento" />
    <app-input-row [group]="addForm" field="proAmr" rowType="select" [options]="proAmrValues" i18n-label="@@producto.proAmr.label" label="Pro Amr" />
    <app-input-row [group]="addForm" field="proTpoIdo" rowType="select" [options]="proTpoIdoValues" i18n-label="@@producto.proTpoIdo.label" label="Pro Tpo Ido" />
    <input type="submit" i18n-value="@@producto.add.headline" value="Add Producto" class="btn btn-primary mt-4" />
</form>
