<div class="d-flex flex-wrap mb-4">
    <h1 class="flex-grow-1" i18n="@@trasaccionEvento.edit.headline">Edit Trasaccion Evento</h1>
    <div>
        <a routerLink="/trasaccionEventos" class="btn btn-secondary" i18n="@@trasaccionEvento.edit.back">Back to list</a>
    </div>
</div>
<form [formGroup]="editForm" (ngSubmit)="handleSubmit()">
    <app-input-row [group]="editForm" field="tvoId" rowType="number" i18n-label="@@trasaccionEvento.tvoId.label" label="Tvo Id" />
    <app-input-row [group]="editForm" field="tvoFecha" datepicker="datepicker" i18n-label="@@trasaccionEvento.tvoFecha.label" label="Tvo Fecha" />
    <app-input-row [group]="editForm" field="tvoTte" rowType="select" [options]="tvoTteValues" i18n-label="@@trasaccionEvento.tvoTte.label" label="Tvo Tte" />
    <app-input-row [group]="editForm" field="aeronavesAnv" rowType="select" [options]="aeronavesAnvValues" i18n-label="@@trasaccionEvento.aeronavesAnv.label" label="Aeronaves Anv" />
    <input type="submit" i18n-value="@@trasaccionEvento.edit.headline" value="Edit Trasaccion Evento" class="btn btn-primary mt-4" />
</form>
